<!-- Logo -->
 <!-- Logo -->
    <a th:href="@{/home}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>K</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>K</b>arson Management</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
           
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-language"></i>
              <span class="label label-danger">2</span>
            </a>
            <ul class="dropdown-menu">
 
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li> 
                    <a th:href="@{''(lang=en)}">
                      <h3>
                        English                    
                      </h3>                      
                    </a>
                  </li>
                    <li><!-- Task item -->
                    <a th:href="@{''(lang=zh_CN)}">
                      <h3>
                                                       繁體中文                    
                      </h3>                      
                    </a>
                  </li>
                </ul>
                </li>
            
            </ul>
          </li> 
           
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img th:src="@{/dist/img/m800.jpg}" class="user-image" alt="User Image"></img>
              <!--   <span class="hidden-xs" th:text="${session.currentUser.username}">..</span>   -->
               <span sec:authentication="name"></span>  
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img th:src="@{/dist/img/m800.jpg}" class="img-circle" alt="User Image"></img>

              <p sec:authentication="name">   
                
                  <small></small>
                </p>
              </li>
              <!-- Menu Body  
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
             
              </li>-->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a th:href="@{/profile}" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a th:href="@{/logout}" class="btn btn-default btn-flat">Sign out</a>
                 
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>